@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #14d8e6;
    --primary-color-dark: #046eb9;
    --primary-color-light: #e9f7f7;
    --secondary-color: #52e6d5;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:var(--text-dark) ;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}
/* start header */
header {
    background-image: linear-gradient(
    to right,
    rgba(134, 18, 172, 0.391),
    rgba(18, 144, 172, 0.265)
    ),
    url("https://cdn.pixabay.com/photo/2020/04/25/15/04/eye-check-5091178_1280.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.nav__logo span {
    color: var(--secondary-color);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link a {
    padding: 0.5rem;
    color: var(--primary-color-light);
}

.link a:hover {
    color: var(--white);
}

.header__container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header__container h1 {
    margin-bottom: 1rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--white);
}

.header__container p {
    margin-bottom: 2rem;
    max-width: 600px;
    color: var(--primary-color-light);
}
/* end header */

/* start services section */
.service__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.service__header__content p {
    max-width: 600px;
    color: var(--text-light);
}

.service__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service__card {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service__card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    transition: 0.3s;
}

.service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.service__card p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
}

.service__card a {
    color: var(--primary-color);
}

.service__card a:hover {
    color: var(--primary-color-dark);
}

.service__card:hover span {
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}
/* end services section */

  /* start footer */
#footer {
    background-color: var(--primary-color-light);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__col h4{ 
    text-align: center;
    margin-bottom:40px;
}

.footer__col iframe{
    margin-top: 15px;
    width: 600px;
    height: 400px;
}

.footer__col i{
    color: var(--primary-color-dark);
    margin-right: 10px;
}

.footer__col a:hover {
    color: var(--primary-color);
}

.footer__bar {
    padding-left:60px ;
    background-color: var(--primary-color);
}

.footer__bar__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.footer__bar__content p {
    font-size: 0.8rem;
    color: var(--white);
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}
/* end footer */

/* start media */
@media (width < 900px) {
.service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
}

@media (width < 780px) {
.nav__links {
    display: none;
}

.header__container {
    flex-direction: column;
}

}

@media (width < 660px) {
    .footer__col iframe{
        width: auto;
        height: auto;
    }
}

@media (width < 600px) {
.service__header {
    flex-direction: column;
    text-align: center;
}

.service__grid {
    grid-template-columns: repeat(1, 1fr);
}

}
